<:awesome:panel>
  {{ if picture }}
    <:awesome:panel:image section="heading" href="{{ '/projects/' + id }}" image_url="{{ picture }}" />
  {{ end }}

  <:awesome:panel:text title={{objective}}>
      {{ if attrs.single }}
        {{ description }}
      {{ else }}
        {{ description[0...200] }}..
      {{ end }}
  </:awesome:panel:text>

  <:awesome:panel:info>
    <:awesome:panel:infoicon title="Required" number="{{monthly_amount}}" />
    <:awesome:panel:infoicon title="Duration" number="{{total_duration}}" />
    <:awesome:panel:infoicon title="Category" number="{{ category}}" />
  </:awesome:panel:info>


  <:awesome:panel:navfooter>
    <:awesome:link icon="calendar" href="{{ '/projects/' + id }}" title="Updates"/>
    <:project_like model="{{ model }}" />
    <!-- <:awesome:link icon="share-alt" href="{{ '/projects/' + id }}" title="Share"/> -->
    <:awesome:link icon="usd" href="{{ '/pledges/' + id }}" title="Pledge"/>
  </:awesome:panel:navfooter>

</:awesome:panel>
