<:Title>
  About

<:Body>

<div class="row">
  <:awesome:panel title="About">
    <div class="media description">
    <p>Kutoa is designed to support refugees and regive them dignity</p>

    <p>With the support of a sponsor, a refugee can state their needs and goals. Currently, we support 3 kinds of goals: employment, education, employment</p>

    <p>
      <ul>
        <li>A refugee can get housing and basic needs with the help of a host, in which case donations would be </li>
        <li>A refugee can show an education goal, such as follow a primary school grade, continuous education, language course or skill adapation</li>
        <li>A refugee can show an employment goal. Often, this means a local person would help them adapt his skills. It can be a company offering free education, a technical skill or others</li>
      </ul>
    </p>

    <p>We encourage refugees and sponsors to post a specific project, with a goal, a beginning date and end date. If the amount posted is not reached, all payements will be refunded</p>

    <p>Every refugee and sponsor are verified by Kutoa. Donations are sent to the sponsor. Updates are required to continue receiving donations</p>
    </div>
  </:awesome:panel>
</div>
