<:Title>
  About

<:Body>

<:awesome:panel title="About">
  <div class="media description">
    <p>Kutoa gives back hope and purpose to refugees.</p>

    <p>With the support of a local sponsor, a refugee can show needs and goals. Donators can give $10/mo to help achieve this goal. An optional amount can be given for Kutoa administration fees.</p>

    <p>Currently, Kutoa supports 3 kinds of goals: housing, education, employment.</p>

    <p>
      <ul>
        <li>A refugee can get <strong>housing</strong> and basic needs with the help of a local host.</li>
        <li>A refugee can show an <strong>education</strong> goal, such as kids schooling, continuous education, language courses, skill adapation etc.</li>
        <li>A refugee can show an <strong>employment</strong> goal. Often, this means a local person would help them adapt his skills. It can be a company offering an internship, a technical skill etc.</li>
      </ul>
    </p>
    <p>Kutoa encourages refugees and sponsors to post a specific project, with a goal, a beginning date and end date.</p>

    <div class="panel-heading text-center" id="verification">
          <h5 class="text-uppercase"><strong>Verification</strong></h5>
    </div>

    <p>Every application goes through due diligence, when possible:</p>

    <p>
      <ol>
        <li><strong>Is there a local sponsor?</strong> The local sponsor has an existing relationship with the refugee, and can support to achieve goal(s). The sponsor will also have the responsability to give the money</li>
        <li><strong>Is the person a real refugee?</strong> Currently Kutoa only supports political refugees. Kutoa reviews refugee passport, U.N.H.C.R. file, local N.G.Os files, when possible</li>
        <li><strong>Is the person a good member of the community?</strong> Kutoa looks for peer & local reviews, as well as other elements such as pictures and videos demonstrating this</li>
      </ol>
    </p>

      <div class="panel-heading text-center" id="updates">
            <h5 class="text-uppercase"><strong>Case Updates</strong></h5>
      </div>

    <p>Strong & regular updates by the refugee can demonstrate trust.</p>

    <p>Updates can be messages to donators and the community, sharing life challenges or successes, or education & employment advancement. Donators are notified in real-time of updates</p>

    <p>After the first donation, <strong>Kutoa requires bi-weekly case updates from the refugee to get the remaining donations</strong>.</p>

    <div class="panel-heading text-center" id="people">
          <h5 class="text-uppercase"><strong>People</strong></h5>
    </div>

    <p>Based on discussions with <strong>Felipe Coimbra</strong> who travelled in the Balkans and saw the plight of refugees</p>

    <p>Thanks to <strong>Mohamed Alborno</strong> for his support and feedback saturday night. Palestinian refugee, Mohamed does not have a country. Kutoa can give purpose to Palestinian and Syrian refugees.</p>

    <p>Thanks to <strong>Aimable Dusingizimana</strong> for his words. While Kutoa cannot solve the roots of the crisis, it would have helped Rwandan refugees like Aimable who fled the genocide.</p>

  </div>
</:awesome:panel>
