
<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">

    <div class="row weather">
      <div class="col-xs-12">
        <div class="panel">
          <div class="panel-footer" id="tagline">
            <div class="text-center">
              <h1 id="site-logo">KUTOA REFUGEE</h1>
                <p>{{ SITE_TAGLINE}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="header navigation">
        <:awesome:nav>
          <:awesome:button href="/" icon="group" label="Home" />
          <:awesome:button href="/about" icon="question-circle" label="About" />
          <:awesome:button href="/projects/submit" icon="plus-circle" label="Apply" />
          <div class="btn-group">
            <:user_templates:menu />
          </div>
        </:awesome:nav>
      </div>
    </div>

    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
      <center id="signature">

        <div id="arrow-widget" class="btn-group-vertical mrg-btm-20">
          <:awesome:button:up href="{{ previous_page }}" />
          <:awesome:button:down href="{{ next_page }}" />
        </div>

        <br/>
        Made with ♥ by <a href="https://medium.com/chronicles-of-montr%C3%A9al" e-click="medium">heri</a><br/> at the #MastersOfCode hackathon
        <br/>
        <br/>


      </center>
    </div>

  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>
